####################################
########### EXTENSIONES ############
####################################

*.diff
*.zip
*.log

####################################
## FICHEROS Y DIRECTORIOS DE NODE ##
####################################

node_modules
coverage
dist
.tmp
logs/

####################################
##### CONFIGURACION DE ENTORNO #####
####################################

env.json
